<%- include('./components/header') -%>
    <section class="about">

        <h2>
            <%- include("./components/pagetitle") -%>
        </h2>
        <p>SIS Group Enterprises commenced operations as a two-member company in 1985 and has since transformed into one
            of the market leaders in the Asia Pacific region, in Security, Facility Management and Cash Logistics
            segments, all of which are essential to the functioning of a healthy economy.

            This would only be possible by leveraging the power of technology. The group has adopted a tech-led approach
            which has steadily brought greater efficiency to the operation and offered a unique customer experience
            through its digital platform like iOPS, ARK, SalesMaxx, NQC, RQC, iPorter, SSDP, TFM, iQMS, iFMOps and MySIS
            app.
<br>
<br>
            SIS Group Enterprises has the largest command center in India to manage 5,00,000 sites while establishing a
            leadership position in the e-surveillance industry. Over the years, the enterprise has steadily and
            strategically expanded its operations. Currently SIS Group Enterprises is present across 28 Indian states
            and 8 Union Territories and has penetrated international markets like Australia, New Zealand and Singapore.

            The relentless focus on innovation to provide evolved solutions to its customers, has resulted in emerging
            as one of the fastest growing Security, Facility Management and Cash Logistics Solutions provider in India
            and the Asia-Pacific region.

        </p>
    </section>


    <%- include('./components/footer') -%>