<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <%- include('header') -%>
    <section class="about">
        <h2 class="heading">ABOUT US</h2>
        <p>Lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit sed at eum culpa, nam veniam eos
            quia nihil, dolorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto reiciendis iure qui
            incidunt ipsum repudiandae. Iure blanditiis libero hic asperiores ipsum consequatur dicta! Eligendi hic,
            delectus accusantium sint aperiam vitae temporibus dolorum distinctio fugiat reprehenderit ad aliquam,
            perferendis modi amet quas adipisci ab dolorem, dicta nisi iure. Autem delectus quidem laborum veritatis
            dolore sed ea accusantium corrupti doloremque perferendis placeat, nobis ex odio laboriosam obcaecati eius
            distinctio! Minus nostrum ipsa minima sunt temporibus aspernatur tempora voluptatum recusandae. Odit? odit
            eveniet, perferendis sunt neque quo repudiandae delectus illum pariatur sequi
            aperiam. Tenetur molestias excepturi odio beatae nesciunt? Sint magni eius inventore eaque, enim perferendis
            voluptates magnam consequuntur quibusdam delectus possimus officia voluptas provident eum corporis. ipsum
            dolor sit amet consectetur adipisicing elit. Aperiam, quod. Necessitatibus dolorem rerum aut amet
            expedita ducimus libero iure in est error, accusantium consectetur esse, quam perferendis maiores dolore
            quaerat. Deserunt accusantium atque nobis illo! Repellendus mollitia consectetur id quo, rerum doloremque
            quam autem iure maxime nemo aliquam est a eius placeat temporibus officiis asperiores!</p>
    </section>
    <%- include('footer') -%>

</body>

</html>