<%- include('./components/header') -%>
<%- include("./components/pagetitle",{name:"CASH LOGISTICS SOLUTIONS"}) -%>
    <section class="cash">
        
        <p>
            At SIS Group Enterprises, we keep the wheels of the economy in motion by managing the fuel of the economy,
            which is cash. Our cash logistics operations have further diversified our clientele with capabilities
            spanning cash-in-transit, doorstep banking, ATM-related services, bullion and cash vaulting services. As a
            result, we are today the second largest cash logistics solutions provider in India and the fastest growing.
        </p>
    </section>
    <div class="groupcompanyCash">
        <h4>Our Group Companies in <span>
            Cash Logistics Solutions
        </span> </h4>
        <div class="companyimg">
        <a href="https://www.sisprosegur.com/" target="_blank"> <img src="assets/prosegur.jpeg" alt="SIS Prosegur"></a> 
         <img src="assets/sisco.jpeg" alt="SISCO">
     
        </div>
  
      </div>

    <%- include('./components/footer') -%>