<%- include('./components/header') -%>
<section class="committee">
    <h2>
      GROUP <p>
        MANAGEMENT 
        <br>
        COMMITTEE
      </p> 
        
    </h2>
    <section class="about">
<p>The Group Management Committee is the core leadership team that provides strategic direction to the SIS Group Enterprises. They bring to bear decades of experience across various industries and deep functional knowledge and relationships to formulate strategies and policies for optimizing value for its stakeholders.</p>
    </section>
    <section class="dcards">

      
          <div class="dcard" style="width: 18rem;">
            <img src="assets/Rituraj-Kishore-Sinha-8a.jpg" alt="Rituraj Kishore Sinha">
            <h5 class="card-title">Mr. Rituraj Kishore Sinha</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/Arvind-Kumar-Prasad-2a.jpg" alt="Arvind Kumar Prasad">
            <h5 class="card-title">Mr. Arvind Prasad</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/Dhiraj.jpg" alt="Mr. Dhiraj Singh">
            <h5 class="card-title">Mr. Dhiraj Singh</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/Devesh.jpg" alt="Mr. Devesh Desai">
            <h5 class="card-title">Mr. Devesh Desai</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/Brajesh.jpg" alt="Mr. Brajesh Kumar">
            <h5 class="card-title">Mr. Brajesh Kumar</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/Tapash.jpg" alt="Mr. Tapash Chaudhuri">
            <h5 class="card-title">Mr. Tapash Chaudhuri</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/rs-murliji.jpg" alt="Mr. R S Murali Krishna           ">
            <h5 class="card-title">Mr. R S Murali Krishna
            </h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/mr-bharat-ji.jpg" alt="Mr. Bharat Bakhshi">
            <h5 class="card-title">Mr. Bharat Bakhshi</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/geoff-1a.jpg" alt="Mr. Geoff Alcock">
            <h5 class="card-title">Mr. Geoff Alcock</h5>
          </div>
          <div class="dcard" style="width: 18rem;">
            <img src="assets/mr-shamsherji.jpg" alt="Mr. Shamsher Puri">
            <h5 class="card-title">Mr. Shamsher Puri</h5>
          </div>

        </section>

</section>
<%- include('./components/footer') -%>
