<%- include('./components/header') -%>
    <h2>
        <%- include("./components/pagetitle") -%>

    </h2>
    <section class="contact" id="contact">


        <form action="" class="form">
            <h3>Get In Touch</h3>

            <input class="input" type="text" placeholder="Name">
            <br>

            <input class="input" type="email" placeholder="Email">
            <br>


            <input class="input" type="number" placeholder="Phone no">
            <br>

            <textarea name="message" id="" placeholder="Message"></textarea>
            <button class="button ">Submit</button>
        </form>
        <div class="maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57566.60094468703!2d84.99338962167967!3d25.607821700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed57b4c86ba8c7%3A0x3010caf672fed108!2sSIS%20Security!5e0!3m2!1sen!2sin!4v1690611277611!5m2!1sen!2sin"
                allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>



    <%- include('./components/footer') -%>