<%- include('./components/header') -%>
  <section class="director">
    <%- include('./components/pagetitle',{name:"BOARD OF DIRECTORS"}) -%>
      <section class="dcards">

        <div class="dcard">
          <img src="assets/Ravindra-Kishore-Sinha-2.jpg" alt="Ravindra Kishore Sinha">
          <h5 class="card-title">Mr. R.K. Sinha</h5>
        </div>
        <div class="dcard">
          <img src="assets/Rituraj-Kishore-Sinha-8a.jpg" alt="Rituraj Kishore Sinha">
          <h5 class="card-title">Mr. Rituraj Kishore Sinha</h5>
        </div>
        <div class="dcard">
          <img src="assets/Arvind-Kumar-Prasad-2a.jpg" alt="Arvind Kumar Prasad">
          <h5 class="card-title">Mr. Arvind Kumar Prasad</h5>
        </div>
        <div class="dcard">
          <img src="assets/Uday-Singh-10a.jpg" alt="Uday Singh">
          <h5 class="card-title">Mr. Uday Singh</h5>
        </div>
        <div class="dcard">
          <img src="assets/Mrs.ritamam.jpg" alt="Rita Kishore Sinha">
          <h5 class="card-title">Mrs. Rita Kishore Sinha</h5>
        </div>
        <div class="dcard">
          <img src="assets/Mr-Upendra.jpg" alt="Upendra Kumar Sinha">
          <h5 class="card-title">Mr. Upendra Kumar Sinha</h5>
        </div>
        <div class="dcard">
          <img src="assets/ms-Rivoli.jpg" alt="Ms. Rivoli Sinha">
          <h5 class="card-title">Ms.Rivoli Sinha</h5>
        </div>
        <div class="dcard">
          <img src="assets/TCA-Ranganathan-9a.jpg" alt="Mr. TCA Ranganathan            ">
          <h5 class="card-title">Mr. TCA Ranganathan
          </h5>
        </div>
        <div class="dcard">
          <img src="assets/Mr.rajan_-1.jpg" alt="Mr. Rajan Verma">
          <h5 class="card-title">Mr. Rajan Verma</h5>
        </div>
        <div class="dcard">
          <img src="assets/sunilsSrivastav.jpg" alt="Mr. Sunil Srivastav">
          <h5 class="card-title">Mr. Sunil Srivastav</h5>
        </div>
        <div class="dcard">
          <img src="assets/Ms.-Vrinda-Sarup.jpg" alt="Ms. Vrinda Sarup">
          <h5 class="card-title">Ms. Vrinda Sarup</h5>
        </div>

      </section>

  </section>
  <%- include('./components/footer') -%>