<%- include('./components/header') -%>
    <section class="facility">
        <h2>Facility
            <br>Management
            <br>
            <span>

                Solutions
            </span>
        </h2>
        <p>
            The Facility Management vertical of SIS Group Enterprises, in India offers Tech-enabled FM Solutions to
            customers across India.
            <br>
            <br>
            The FM segment of SIS Group Enterprises comprises Dusters Total Solutions Services - DTSS, SMC Integrated
            Facility Management Solutions Limited, RARE Hospitality, Adis and TerminixSIS.
            <br>
            <br>
            Together, it is the second largest FM business in the country supported by best-in-class technology
            solutions, strict SOP guidelines and compliance, world-class products, led by an experienced management
            team, robust processes, and the use of energy-efficient and modern machinery. The clients of the FM segment
            are as diverse as our services, ranging from healthcare, and hospitality to IT/ITeS and industrial
            establishments to retail and residential.
        </p>
    </section>
    <div class="container">
        <div class="ileft">

            <div class="item">
                <img src="/assets/download.png" alt="i-porter">

                <div class="cont">

                    <h6>Uberizing Hospital Operation
                    </h6>
                    <p>IoT based intelligent portering system that automates all service requests.</p>
                </div>


            </div>
            <div class="item">
                <img src="assets/cmms.jpeg" alt="CMSS">

                <div class="cont">

                    <h6>Computerized Maintenance Management System
                    </h6>
                    <p>Centralizes information and facilitates the processes improving the efficiency of operations and brings cost benefits.</p>
                </div>


            </div>
            <div class="item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVm0wuvvagL7psr7spMvBfkmDYCIFE_6wkSg&usqp=CAU" alt="SSDP">

                <div class="cont">

                    <h6>Smart Surface Disinfection Program
                    </h6>
                    <p>SSDP improves efficiency and offers cost benefits.</p>
                </div>

            </div>

        </div>
        <div class="iright">

            <div class="item">
                <img src="assets/sheild.png" alt="LifeShield">

                <div class="cont">

                    <h6>Next Generation Disinfection System
                    </h6>
                    <p>“90 day sterile surface guaranteed” US/EU EPA approved and ICMR verified</p>
                </div>


            </div>
            <div class="item">
                <img src="assets/tfm.jpeg" alt="TFM">

                <div class="cont">

                    <h6>IoT - based Total Facility Management
                    </h6>
                    <p>Digitizing utilities and critical equipment maintenance.</p>
                </div>


            </div>
            <div class="item">
                <img src="assets/breathe.jpeg" alt="i-porter">

                <div class="cont">

                    <h6>Indoor Air Quality
                    </h6>
                    <p>Improving indoor air quality in a highly infectious environment.</p>
                </div>

            </div>

        </div>

    </div>
    <div class="groupcompany">
      <h4>Our Group Companies in <span>
        Facility Management Solutions
      </span> </h4>
      <div class="companyimg">
      <a href="#"> <img src="assets/smc.jpeg" alt="SMC"></a> 
       <a  target="_blank" href="https://dtss.in/"> <img src="assets/dts.png" alt="dts"></a>
       <a target="_blank" href="https://www.raregrp.com/"> <img src="assets/rare.png" alt="Rare Hospitality"></a>
       <a href="#"> <img src="assets/adis.jpeg" alt="adis"></a>
       <a target="_blank" href="https://terminixsisindia.com/"> <img src="assets/terinix.png" alt="TerminixSIS"></a>
      </div>

    </div>
    <%- include('./components/footer') -%>