<%- include('./components/header') -%>
    <!-- <%- include("./components/pagetitle",{name:"FOUNDER & GROUP CHAIRMAN"}) -%> -->

    <section class="founder">
        <div class="founder__c">
            <img src="assets/founder.jpg" alt="R K Sinha">
            <h2>About <span>
                    The Founder
                </span></h2>
            <div class="founder__c-c">

                <img src="assets/side4.jpg" alt="founder">

                <p>
                    Mr. R. K Sinha is the Founder and Group Chairman of SIS Group Enterprises. Fondly known as RK in the
                    security industry fraternity, he is a people's man at heart. As a first-generation entrepreneur, Mr.
                    Sinha envisaged Security and Intelligence Services (India) Limited - SIS Limited.
<br>
<br>
                    As a graduate of Political Science and Law, Mr. Sinha started his career as a journalist
                    specializing in crime and political reporting. During the same period, Sinha also authored
                    “Janandolan”, which is widely recognized as the first authentic research book on the student
                    movement in India led by revolutionary leader Jai Prakash Narayan between 1970 - 1975.
<br>
<br>
The idea to set-up Security and Intelligence Services (India) Limited (SIS India) was envisaged to
help the retired ex-servicemen after the Indo - Pak war of 1971. It was his visionary leadership
that help bring about quality of service and standardization in the company, owing to which SIS
Security became a benchmark in the Security sector.
<br>
<br>
His quest of being the torchbearer in the industry, led to various industry-firsts, that paved way
                    for the India's Security landscape's progression. Today, under Mr. Sinha's guidance, the group has
                    become No. 1 in the Security Solutions Sector - in India.
                </p>
            </div>
        </div>
       
    </section>

    <%- include('./components/footer') -%>