
    <%- include('./components/header') -%>

    <h2 >
      <%- include("./components/pagetitle") -%>
  </h2>
    <section class="cards">

    <div class="card">
        <img src="https://freesvg.org/img/1643378353people-group-color-silhouette.png" class="card-img-top" alt="Activities">
        <div class="card-body">
         
          <a href="/activity" class="btn ">Activities</a>
        </div>
      </div>
      <div class="card">
        <img src="https://freesvg.org/img/1643378353people-group-color-silhouette.png" class="card-img-top" alt="Bootcamp">
        <div class="card-body">
         
          <a href="/bootcamp" class="btn ">Bootcamp</a>
        </div>
      </div>
      <div class="card">
        <img src="https://freesvg.org/img/1643378353people-group-color-silhouette.png" class="card-img-top" alt="Infrastructure">
        <div class="card-body">
         
          <a href="/Infrastructure" class="btn ">Infrastructure</a>
        </div>
      </div>
      <div class="card">
        <img src="https://freesvg.org/img/1643378353people-group-color-silhouette.png" class="card-img-top" alt="Placed Students">
        <div class="card-body">
         
          <a href="/placement" class="btn ">Placed Students</a>
        </div>
      </div>
    
    </section>
  
    <%- include('./components/footer') -%>
    
  