<%- include('./components/header') -%>

    <section class="screen">

        <div class="carousel">
            <div class="slideshow-container">
                <div class="mySlides one">
                    <img src="assets/slideshowimg1.jpg" alt="img1">
                </div>
                <div class="mySlides two">
                    <img src="assets/slidshowimg2.jpg" alt="img2">
                </div>
                <div class="mySlides three"> <img src="assets/slideshowimg3.jpg" alt="img3"></div>
            </div>


            <div class="direction prev" tabindex="0" onclick="plusSlides(-1)" role="button">❮</div>
            <div class="direction next" tabindex="0" onclick="plusSlides(1)" role="button">❯</div>
        </div>

    </section>
    <section class="content">


        <div class="content-title">
            <h2>SIS provides Security, Facility Management and Cash Logistics Solutions, which are essential to the
                functioning of a vibrant and healthy economy. We have emerged as a trusted leader across these business
                segments in India and other geographies in the Asia-Pacific region.</h2>
        </div>
        <div class="content__c">
            <div class="cont">
                <p>With an unremitting spirit of innovation coupled with a dynamic and multifaceted portfolio of
                    solutions,
                    we strive to offer people enduring value. Our deep market insights of more than 40 years enable us
                    to
                    leverage growth opportunities in the key markets where we operate concurrently, helping our brands
                    emerge as trusted leaders.
                    <br>
                    <br>
                    A market leader of essential service verticals, we have steadily increased our offerings and reach,
                    catering to the varied and dynamic demands of the markets we serve, including marquee clients that
                    comprise Fortune 200 companies
                </p>
                
                <a href="/about"> <button class="button" >Want to Know More</button></a>
            </div>
            <div class="content-img">
                <img src="assets/home-page-image-1a.jpg" alt="img4">

            </div>

        </div>

    </section>



    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            let i;
            if (document.querySelector(".carousel")) {
                let slideshowPage = document.querySelector(".carousel");
                if (slideshowPage.classList.contains("carousel")) {
                    let slides = slideshowPage.querySelectorAll(".mySlides");
                    if (n > slides.length) {
                        slideIndex = 1
                    };
                    if (n < 1) {
                        slideIndex = slides.length
                    };
                    for (i = 0; i < slides.length; i++) {
                        slides[i].style.display = "none";
                    };
                    slides[slideIndex - 1].style.display = "block";
                }
            }
        }
        setInterval(function () {
            plusSlides(1)
        }, 2000)

    </script>


    <%- include('./components/footer') -%>