<%- include('./components/header') -%>

<h2 >
    <%- include("./components/pagetitle") -%>
</h2>
<section class="infrastructure">
    <div class="tcard" >
        <img src="https://plus.unsplash.com/premium_photo-1683394173305-29f42bdd1f37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5mcmFzdHJ1Y3R1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
       
      </div>
      <div class="tcard" >
        <img src="https://plus.unsplash.com/premium_photo-1683394173305-29f42bdd1f37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5mcmFzdHJ1Y3R1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
       
      </div>
      <div class="tcard" >
        <img src="https://plus.unsplash.com/premium_photo-1683394173305-29f42bdd1f37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5mcmFzdHJ1Y3R1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
       
      </div>
      <div class="tcard" >
        <img src="https://plus.unsplash.com/premium_photo-1683394173305-29f42bdd1f37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5mcmFzdHJ1Y3R1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
       
      </div>
      <div class="tcard" >
        <img src="https://plus.unsplash.com/premium_photo-1683394173305-29f42bdd1f37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5mcmFzdHJ1Y3R1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
       
      </div>
      <div class="tcard" >
        <img src="https://plus.unsplash.com/premium_photo-1683394173305-29f42bdd1f37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5mcmFzdHJ1Y3R1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
       
      </div>
</section>
<%- include('./components/footer') -%>


