<%- include('./components/header') -%>
    <section class="international">
        <%- include("./components/pagetitle",{name:"SECURITY SOLUTIONS INTERNATIONAL"}) -%>
            <h1>
                SIS - The Indian Multinational with footprints in
                <br>
                <span>

                    Australia, Singapore and New Zealand
                </span>
            </h1>
            <div class="icontent">
                <div class="icontent__c">

                    <img src="assets/international.png" alt="India">
                    <p>In Australia, SIS Group Enterprises operates MSS Security which is #1 in the country and Southern
                        Cross Protection - SXP , a ninety-year-old security company.
                        <br>
                        <br>
                        MSS Security offers a full range of security services across all market segments in every state
                        and
                        territory of Australia. The company delivers customised safety and security solutions to various
                        facilities mainly on the back of providing ad-hoc guarding and patrolling services to both the
                        government and private customers. The security officers provide a visible security presence,
                        using a
                        broad range of skills, from general guarding to highly specialised security roles.
                    </p>
                </div>
                <div class="icontent__c-c">
                    <p>SXP is one of the oldest and largest mobile patrol companies in Australia. It is present across
                        32 branches and has the experience to deliver a range of dependable solutions including 16,000
                        security patrol visits each night, loss prevention solutions and alarm monitoring. More than
                        2700 highly capable staff delivers precision risk management technologies and sophisticated
                        coordination capabilities applying intelligence across Australia.</p>
                </div>
            </div>
            <hr>

            <div class="icontent">
                <div class="icontent__c">

                    <img src="assets/newzea.jpg" alt="New Zealand">
                    <p>In New Zealand, SIS Group Enterprises operates Platform 4 Group - P4G. which is among the largest
                        in the country. It provides event services, security patrols, alarm monitoring and commercial
                        guarding in malls, shopping centers and loss prevention, as well as on-site guards, hospitality
                        and commercial/industrial sectors throughout New Zealand.
                    </p>
                </div>
            </div>
            <hr>
            <div class="icontent">
                <div class="icontent__c">

                    <img src="assets/singapore.jpg" alt="Singapore">
                    <p>In Singapore, the group has Henderson Security Solutions. It is among the top 3 in the country
                        and a premium security solutions provider with over 200 sites in Singapore.
<br>
<br>
                        With over 15 years of experience, Henderson, undertakes concierge services, security manpower
                        solutions, smart facility management and security consultancy. The customer segments include
                        residential condominiums, public transport and commercial spaces, with venturing into patrolling
                        services and remote monitoring.
                    </p>
                </div>
            </div>
    </section>
    <div class="companyinternational">
        <h4>Our Group Companies in <span>
          Security - International 
        </span> </h4>
        <div class="companyimg">
        <a href="/" target="_blank"> <img src="assets/mss.png" alt="MSS"></a> 
         <a  target="_blank" href="/contact"> <img src="assets/south.png" alt="Southern cross platform"></a>
         <a target="_blank" href="https://slvgroup.in/"> <img src="assets/p4g.png" alt="P4G Security"></a>
         <a target="_blank" href="https://vprotectindia.com/"> <img src="assets/henderson.png" alt="Henderson"></a>
        
        </div>
  
      </div>
    <%- include('./components/footer') -%>