<%- include('./components/header') -%>
    <section class="security">
     
<%- include("./components/pagetitle",{name:"SECURITY SOLUTIONS"}) -%>

        <div class="content">

            <img src="assets/india-new-map5a.jpg"
                alt="India">
            <p>SIS Group Enterprises is an essential solutions market leader, offering a gamut of comprehensive
                technology-enabled security solutions across multi-segments - pan India.
                <br>
                <br>
                With a presence in Asia-Pacific and over 4 decades of industry know-how, the company delivers
                world-class service quality and compliance assurance across 630 districts in India. Through its
                innovative and proprietary applications, SIS Security delivers world-class security solutions across
                33,128 sites.
            </p>
        </div>
        <div class="content">

            <p>The group provides security personnel for specialized guarding, technology-enabled Security Solutions,
                e-surveillance, system integration, alarm monitoring and response services to a wide range of customers
                across the private and public sector undertakings across the country.
                <br>
                <br>

                SIS Group Enterprises provides technology-enabled solutions, that provide our customers with better
                visibility, real-time accountability, more control and ultimate transparency.
                <br>
                <br>

                Through our strong network of trusted OEMs and world-class technology partners and JVs, we have
                successfully installed various Tech solutions across 4240 sites, across 1100+ customers in India. Our
                interoperable AI-enabled video and IoT-enabled access providers help to build more custom solutions to
                our customer's needs.
                <br>
                <br>
                The keyless door entry access and AI-enabled visitor management platform work in a SaaS environment to
                deliver best-in-class tech solutions
            </p>
            <img src="assets/technical-india.jpg"
                alt="SecurityCamera">
        </div>
        <div class="content">

            <img src="assets/india-img-1b.jpg"
                alt="SecutiryGuard">
            <p>Our biometric authentications, from fingerprint scanners and palm thermo-sensors to facial and iris
                recognition, have bolstered technology adoption while optimizing cost and bringing greater efficiency to
                our customers.
<br>
<br>
                Be it contractual staff management at manufacturing plants or vehicle pass management in large
                warehouses, inventory, or fire audits, our digital solutions have been designed to bring greater
                efficiency to the security of the premises.
<br>
<br>
                With our state-of-art drones, we can cut back on human involvement in often-dangerous situations, while
                bolstering safety at the same time. Our security experts even provide retrofitting existing systems and
                upgrades of old systems as well, thereby covering all challenges of security needs.
            </p>
        </div>
       
    </section>
    <div class="groupcompanySecurity">
        <h4>Our Group Companies in <span>
          Security - India 
        </span> </h4>
        <div class="companyimg">
        <a href="/" target="_blank"> <img src="assets/sislogo.jpeg" alt="SIS"></a> 
         <a  target="_blank" href="/contact"> <img src="assets/unio.png" alt="Unio"></a>
         <a target="_blank" href="https://slvgroup.in/"> <img src="assets/slv.jpeg" alt="SLV"></a>
         <a target="_blank" href="https://vprotectindia.com/"> <img src="assets/protect.jpeg" alt="Protect"></a>
         <a target="_blank" href="https://techsisindia.com/"> <img src="assets/tech.jpeg" alt="tech"></a>
        </div>
  
      </div>
    <%- include('./components/footer') -%>