<%- include('./components/header') -%>

    <section class="training">
        <div class="head">

            <h4> TRAINING AND DEVELOPMENT
                <br> <span>IN SECURITY SOLUTIONS</span>

            </h4>

            <img src="https://t3.ftcdn.net/jpg/02/30/58/16/240_F_230581609_WZ2fmglyQHsv8HgS45HybQZBXwvCmj19.jpg" alt="SECURITY SOLUTIONS">
        </div>

        <p>
            SIS Security undertakes various training interventions for its security personnel. The pedagogy is prepared
            as per the guidelines of PSARA Act and trains Security Guard, Rapid Response Team, Security Supervisor, GTS,
            GTO etc. in its 22 fully residential training academies spread across different locations in India with
            state-of-the-art training facilities.
            <br>
            <br>
            The fresh recruits receive a 28-day training programme at our in-house training centres, which equips them
            with the skill sets relevant to their job and career growth. The focus has been on theory, practical,
            physical, and games in all the training syllabi.
            <br>
            <br>
            Additionally, SIS Security undertakes special training interventions for its Quick Response Team – QRT
            Officers. The training encompasses - handling low-tech confrontations with intruders, eliminating false
            triggers and managing medical emergencies.
        </p>
        <div class="imgfile">

            <img src="https://images.unsplash.com/photo-1529586073768-05e0b5a65696?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNlY3VyaXR5JTIwZ3VhcmRzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
                alt="securitImage">
            <img src="https://media.istockphoto.com/id/1360493212/photo/security-guard-at-live-festivale-event.webp?b=1&s=170667a&w=0&k=20&c=lAYvMwgbJ79NY8DWtl7N_19nwpNW0Y4pjf3dCMmu1D4="
                alt="securityImage">
        </div>
        <h6>
            After successfully completing training, all the security personnel have been posted in different units of
            SIS Group Enterprises according to their rank/designation and job suitability. Post-deployment, periodic
            training is undertaken regularly through SIS Security's propriety training platform 'M-trainer', the 1st in
            the security industry.
            <br>
            <br>
            The mobile-training platform enables continuous on-job training on fire safety, searching and frisking, mob
            control, access control and vehicle management, among others and is delivered across India via training
            vans, tabs and mobile phones. M-Trainer learning modules are also delivered based on the client's
            requirements.
        </h6>

        <div class="head">

            <h4> TRAINING AND DEVELOPMENT
                <br> <span>IN FACILITY MANAGEMENT <br>SOLUTIONS</span>

            </h4>

            <img src="https://media.istockphoto.com/id/541114144/photo/bound-by-business.webp?b=1&s=170667a&w=0&k=20&c=SuJD66aNNFbFxqI9hLkqY2sldVt66XXfiT8ZtyrCdpU="
                alt="FACILITY MANAGEMENT">
        </div>

        <p>
            Learning and Development is one of the most critical business support functions for Facility Management
            companies under SIS Group Enterprises. Structured training interventions have been inculcated at every level
            of the employee's life cycle - including developmental and transformational training programs, bringing in
            required improvement in the employee's skills and behavior in accordance with the demand of their role among
            others.
            <br>
            <br>
            The group implements multiple approaches to achieve this training delivery - physical training intervention,
            digital tools and platforms (LMS App) through mobile phones and tabs and on-site training champions support-

        </p>
        <div class="imgfile">

            <img src="https://media.istockphoto.com/id/1074653602/photo/it-technician-explaining-server-configuration-to-a-manager.webp?b=1&s=170667a&w=0&k=20&c=YsQz_jXKy8gzqvZFn3BUUl3UPanlEhEYiNLoL0-NCUk="
                alt="facilityManagement">
            <img src="https://media.istockphoto.com/id/1368098469/photo/multi-racial-group-of-people-working-with-paperwork-on-a-board-room-table-at-a-business.webp?b=1&s=170667a&w=0&k=20&c=uetGiIN1JVLG69GednkBa-7eVieenrdxvpVn5yV_JMc="
                alt="facilityManagement">
        </div>
        <p>
            We hire, train and prepare young and talented Hotel Management graduates to become leaders in the industry.
            The group companies undertake a one-year management training program in which Junior Management Trainees -
            JMT's are trained theoretically and practically in all aspects of facility management with exposure to
            various industry segments.
        </p>
        <h6>
            This encompass 2 months of bootcamp training and 10 Months of on-the-job training. To date, 209 JMT's have
            been successfully trained and deployed across various sites in India.
        </h6>

        <div class="head">

            <h4> TRAINING AND DEVELOPMENT
                <br> <span>IN CASH LOGISTICS SOLUTIONS</span>

            </h4>

            <img src="https://media.istockphoto.com/id/1438137470/photo/close-up-man-hand-and-giving-turkish-lira.webp?b=1&s=170667a&w=0&k=20&c=1_x2K-vGiob_nXsA-GwhRKYek7ZTVhx5fovkTUJgEY8="
                alt="CASH LOGISTICS">
        </div>

        <p>
            Our Cash Logistics business is a joint venture with Prosegur, a global leader in cash management. It caters
            to private, public and corporate sectors, industries, institutions, multinational companies and other
            high-profile clients.
            <br>
            <br>
            This is a high-risk business that requires certain level of specialized training for handling cash, bullion
            and high value items, including handling emergencies.
            <br>
            <br>
            Since technology plays a vital role in the management of activities, pieces of training are also undertaken
            to keep the employees abreast with the latest updates, while the armed guards and fleet managers always keep
            themselves up-to-date and emergency ready.
        </p>
        <div class="imgfile">

            <img src="https://img.freepik.com/free-photo/business-man-counting-dollar-banknote-online-business-concept_1150-6406.jpg?size=626&ext=jpg&ga=GA1.1.1274922324.1686070599&semt=ais"
                alt="cashImage">
            <img src="https://media.istockphoto.com/id/949463282/photo/women-withdraws-money-from-an-atm-with-turkish-money-currency.webp?b=1&s=170667a&w=0&k=20&c=gPb8SUC4DKQRTj6kJ2erwGB43KKX0ahg1F7SnraBltQ="
                alt="cashImage">
        </div>
        <p>
            Modules like Cash Processing and Vaulting, ATM Operation, Firefighting, First Aid and Legal Aspects make SIS
            Prosegur the leader in cash management.
        </p>
      

      
    </section>
    <%- include('./components/footer') -%>