<%- include('./components/header') -%>

<%- include("./components/pagetitle",{name:"TRAINING AND DEVELOPMENT"}) -%>
    <section class="training">

        <div class="training__row">
          
            <h4 class="training__row-left"> Training and Development
                <br>
                 <span>in Security Solutions</span>

            </h4>
            <div class="training__row-right">
                <img src="assets/taring-market-1.jpg" alt="">
            </div>
        </div>
        <div class="training__row2">
            <div class="training__row2-left">
            <img src="assets/side1.png" alt="SideImg">
        </div>
            
                <div class="training__row2-right">
                    <p>
                    SIS Security undertakes various training interventions for its security personnel. The pedagogy is prepared
                    as per the guidelines of PSARA Act and trains Security Guard, Rapid Response Team, Security Supervisor, GTS,
                    GTO etc. in its 22 fully residential training academies spread across different locations in India with
                    state-of-the-art training facilities.
                    <br>
                    <br>
                    The fresh recruits receive a 28-day training programme at our in-house training centres, which equips them
                    with the skill sets relevant to their job and career growth. The focus has been on theory, practical,
                    physical, and games in all the training syllabi.
                    <br>
                    <br>
                    Additionally, SIS Security undertakes special training interventions for its Quick Response Team – QRT
                    Officers. The training encompasses - handling low-tech confrontations with intruders, eliminating false
                    triggers and managing medical emergencies.
                </p>
                    <div class="imgfile">
                                    
                        <img src="assets/training-development-1a.jpg"
                        alt="securitImage">
                        
                    </div>
                </div>
        </div>
        <p class="bootom">
            After successfully completing training, all the security personnel have been posted in different units of
            SIS Group Enterprises according to their rank/designation and job suitability. Post-deployment, periodic
            training is undertaken regularly through SIS Security's propriety training platform 'M-trainer', the 1st in
            the security industry.
            <br>
            <br>
            The mobile-training platform enables continuous on-job training on fire safety, searching and frisking, mob
            control, access control and vehicle management, among others and is delivered across India via training
            vans, tabs and mobile phones. M-Trainer learning modules are also delivered based on the client's
            requirements.
        </p>
        </section>
        <!-- second -->
        <section class="training">

            <section class="training__row">
              
                <h4 class="training__row-left"> Training and Development
                    <br>
                     <span>in Facility Management</span>
    
                </h4>
                <div class="training__row-right">
                  
            <img src="assets/taring-market-2.jpg"
            alt="FACILITY MANAGEMENT">
                </div>
            </section>
            <section class="training__row2">
                <div class="training__row2-left">
                <img src="assets/side2.png" alt="SideImg">
            </div>
                
                    <div class="training__row2-right">
                        <p>

                      
                        Learning and Development is one of the most critical business support functions for Facility Management
                        companies under SIS Group Enterprises. Structured training interventions have been inculcated at every level
                        of the employee's life cycle - including developmental and transformational training programs, bringing in
                        required improvement in the employee's skills and behavior in accordance with the demand of their role among
                        others.
                        <br>
                        <br>
                        The group implements multiple approaches to achieve this training delivery - physical training intervention,
                        digital tools and platforms (LMS App) through mobile phones and tabs and on-site training champions support.
                    </p>
                    <div class="imgfile">

                        <img src="/assets/sis-facility-2.png"
                        alt="facilityManagement">
                        
                    </div>
                    <p >
                        We hire, train and prepare young and talented Hotel Management graduates to become leaders in the industry.
                        The group companies undertake a one-year management training program in which Junior Management Trainees -
                        JMT's are trained theoretically and practically in all aspects of facility management with exposure to
                        various industry segments.
                    </p>
                    </div>
                </section>
                    <p class="bootom">
                        This encompass 2 months of bootcamp training and 10 Months of on-the-job training. To date, 209 JMT's have
                        been successfully trained and deployed across various sites in India.
                    </p>
                    </section>

            <!-- third -->
            <section class="training">

                <section class="training__row">
                  
                    <h4 class="training__row-left"> Training and Development
                        <br>
                         <span>in Cash Logistics Solutions</span>
        
                    </h4>
                    <div class="training__row-right">
                        <img src="assets/sis-facility-3.png"
                        alt="CASH LOGISTICS">
                    </div>
                </section>
                <section class="training__row2">
                    <div class="training__row2-left">
                    <img src="assets/side3.png" alt="SideImg">
                </div>
                    
                        <div class="training__row2-right">
                            <p>
                            Our Cash Logistics business is a joint venture with Prosegur, a global leader in cash management. It caters
            to private, public and corporate sectors, industries, institutions, multinational companies and other
            high-profile clients.
            <br>
            <br>
            This is a high-risk business that requires certain level of specialized training for handling cash, bullion
            and high value items, including handling emergencies.
            <br>
            <br>
            Since technology plays a vital role in the management of activities, pieces of training are also undertaken
            to keep the employees abreast with the latest updates, while the armed guards and fleet managers always keep
            themselves up-to-date and emergency ready.
        </p>
        <div class="imgfile">
            <img src="assets/cash-management-solutions-1a.jpg"
            alt="cashImage">
            
        </div>
        <p >
            Modules like Cash Processing and Vaulting, ATM Operation, Firefighting, First Aid and Legal Aspects make SIS
            Prosegur the leader in cash management.
        </p>
                        </div>
                </section>
       </section>
     
    <%- include('./components/footer') -%>