 .footer {
     background-color: #282828;
     padding: 26px;
width: 100%;
     & .footer-icon a .bx {
         color: $background-primary;
         font-size: 32px;
        // font-family: $font-primary;
         
         position: absolute;
         right: 30px;
     }

     & a i {
         font-size: 52px;

         background-color: #555;
         color: white;
        font-family: $font-primary;
        

         /* border: 2px solid white; */
         border: 2px solid #555;
     }

     & .footer-item .col {
         position: relative;

         & h3 {
             color: white;
             font-size: 20px;
             margin: 23px 37px;
        // font-family: $font-primary;
             

         }

         & p {
             margin-left: 37px;
        font-family: $font-primary;
font-size: 17px;
           


             position: relative;
             color: rgb(151, 142, 142);

             & a {
                 color: rgb(151, 142, 142);
                 // color: red;
                 text-decoration: none;

                 &:hover {
                     color: white;
                     text-decoration-line: underline;
                 }
             }
         }

         ul li a {
             text-decoration: none;
        font-family: $font-primary;
            
font-size: 17px;
             color: rgb(151, 142, 142);

             &:hover {
                 color: white;

             }
         }
     }
 }

 .foot {
     justify-content: center;
     align-items: center;
     background-color: #0c0b0b;
     padding: 2px;
     display: flex;
width: 100%;


     & .foot-left {
         color: #888;
         font-size: 18px;
         margin-top: 9px;
         font-family: $font-primary;
       
         font-weight: 800;
         margin-left: 9px;
         // margin: -16px;
     }

     & .foot-right .social-media-icons li {
         display: inline-block;
         margin-top: 9px;
         margin-right: 10px;

         & a {
             color: #888;
             // margin-left: 103px;
             font-size: 24px;
        font-family: $font-primary;
           

             &:hover {


                 color: #555;

             }
         }
     }
 }
 