.navbar{
    // border-bottom:4px solid  rgba(0, 0, 0, 0.1) ;
    box-shadow: 0 4px 10px rgba(255, 245, 245, 0.1);
    background-image:linear-gradient(to left,#C69E24 ,black 70% );
    position: fixed;
    width: 100%;
height: 87px;
    top: 0;
    // border-bottom: 2px solid rgb(100, 94, 94);
    & .img a img{
      
// border-radius: 78px;
        margin-left: 1px;
        cursor: pointer;
        width: 89px;
        height: 85px;
    }
    & .navbar-nav{
    margin-left: 400px;
    

& .nav-item{
// font-family: 'Roboto Condensed';
      
    font-size: 18px;
    
    padding : 0 16px 0 16px;
    & .nav-link{
     
        color: white;
    font-weight:700;
// font-family: 'Roboto Condensed';

&:hover
{
  color: $background-primary;
}    
&:focus{
  color: $background-primary;

}
&:active{
  color: $background-primary;

}
}
& .dropdown-menu .dropdown-item{
  color: black;
  font-size: 18px;
font-family: 'Roboto Condensed';

  &:hover{
    color: white;
    background-color: $background-primary;
  }
}

}



    }
   
}