.about {

    p {
        margin: 33px 0;
        position: relative;
        color: rgb(2, 0, 0);
        font-size: 19px;
        font-family: $font-primary;
       font-size: 19px;
        font-weight: 400;
        margin-left: 0 !important;
        padding: 42px;

    }
}