.activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & .acard{
             height: 300px;
        margin: 14px 37px;  
        // padding: 22px;
        & img{
            border-radius: 8px;
            object-fit: cover;
            width: 310px;
            height: 240px;
         } 
    }
}