.bootcamp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & .bcard{
        height: 300px;
 margin: 4px 37px;   
//  padding: 30px;
 & img{
    border-radius: 8px;
    object-fit: cover;
    width: 310px;
    height: 240px;
 }    
    }
}