.cash{
    margin-top: 50px;
 
   

    width: 90%;
    & p{
        margin: 0 076px;

font-family: $font-primary;

        margin-right: 3rem;
        font-size: 19px;
    }
    
}
.groupcompanyCash{
    margin-top: 40px;
    // background-color: rgb(255, 255, 255);
    background-color: rgb(248, 248, 248);
    
    // padding: 3rem;
    & h4{
        font-weight: 700;
        font-size: 29px;
        
        text-align: center;
        & span{
            color: $background-primary;
        }
    }
    & .companyimg{
       
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        }
    
}

@include phone{
    .cash {
        p{
       font-size: 18px;
       margin: 2px 11px;
       // color: red;
   }}
   .groupcompanyCash{
    h4{
        font-size: 23px;
    }
    & .companyimg{
        display: flex;
        flex-direction: column;
    }
   }
} 