.committee h2 {
  margin-top: 8rem;
  font-weight: 700;
  // text-align: center;
  font-size: 38px;
  margin-left: 10rem;

  & p {

    font-size: 60px;
    color: $background-primary;

  }

}

.about p {
  margin-left: 10rem;
  font-size: 25px;
  font-family: 'Roboto Condensed';

}

// .dcards {
//   // height: calc(100vh - 72px);
//   // width: calc(100vw - 260px);
//   padding: 35px;
//   margin-top: -52px;
//   // margin-bottom: 45px;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;

//   & .dcard {
//     // border: 1px solid rgba(0, 0, 0, 0.1);
//     // border-radius: 5px;
//     // padding: 14px;
//     margin: 16px;
//     width: 100px;
//     height: 250px;
//     background-color: white;

//     // box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
//     & .card-title {

//       font-weight: 600;
//       font-size: 19px;
//       text-align: center;
//       margin-top: 1px;
//       width: 238px;
//       height: 32px;
//       color: white;
//       font-family: 'Roboto Condensed';


//       margin-left: 4rem;
//       border: 2px solid $background-primary;
//       background-color: $background-primary;
//     }

//     & img {
//       width: 238px;
//       height: 250px;
//       margin-left: 4rem;
//     }

//   }
// }