
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 109px;
    font-size: 38px;
 font-weight: 700;
 color: gray;
}
.cards{
    // height: calc(100vh - 72px);
                // width: calc(100vw - 260px);
                width: 70rem;
                padding: 65px;
                margin-top: -52px;
                // margin-bottom: 45px;
                height: 670px;
                margin-left: 9rem;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                & .card{
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    // padding: 14px;
                    margin: 16px;
                    width: 500px;
                    height: 250px;
                    background-color: white;
                    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
              & img{
                width: 178px;
                height: 160px;
                margin-left: 3rem;
              }
              & a{
                margin-left: 11rem;
                margin-top: 30px;
                &:hover{
                    background-color: white;
                    color: $background-primary;
                }
              }
                }
}