.infrastructure{
    
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    align-items: center;
    // background-color: blue;
    justify-content: center;
    & .tcard{
      
        margin-top: 2px;
        height: 300px;
        margin: 14px 37px;  
        // padding: 2px;
        & img{
            border-radius: 8px;
            object-fit: cover;
            width: 310px;
            height: 240px;
         } 
    }}
