.placement{
    width: 70rem;
    padding: 65px;
    margin-top: -52px;
    // margin-bottom: 45px;
    height: 670px;
    margin-left: 9rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    // background-color: blue;
    justify-content: center;
    & .tcard{
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        // padding: 14px;
        margin: 16px;
        width: 200px;
        height: 240px;
        background-color: white;
        box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
        & img{
            width: 286px;
            height: 238px;
            // margin-left: 3rem;
          }
    }
}