.security{
h1{
    margin-top: 31px;
    font-weight: 800;
    text-align: center;
    font-size: 35px;
    // color: black;
    & span{
        color: $background-primary;

    }
}
    
 
    & .content{
        display: flex;
        flex-direction: row;
        margin: 30px 32px;
        & img{
            
            width: 370px;
            height:310px;
            margin: 0;
        
            
        }
        & p{
            font-size: 19px;
font-family:$font-primary;

        }
    }
}
.groupcompanySecurity{
    background-color: rgb(248, 248, 248);

   
    & h4{
        font-weight: 700;
        font-size: 29px;
        
        text-align: center;
        & span{
            color: $background-primary;
        }
        
    }
    & img{
        width: 150px;
        margin: 51px;
   
   }
}
@include tablet{
    .groupcompanySecurity{

        height: 300px;
        & h4{
            font-size: 24px;
        }
       & img{
width: 120px;
margin: 17px 11px;
        }
    }
}
@include phone{
    .security{
        & h1{
            font-size: 20px;
        }

    
   & .content{
        display:flex ;
        flex-direction: column;
        & img{
            width: 90%;
        }
        & p{
            font-size: 16px;
        }
    }}
.groupcompanySecurity{
    height: 100%;
    & h4{
font-size: 26px;

    }
    & img{
        margin: 22px 75px;
    display: flex;

    flex-direction: column;
    }
}
}
