.training {

    &__row{
        display: flex;
        align-items: center;

        &-left,&-right{
            width: 50%;
            height: 100px;
        }

        &-left{
            padding: 34px;
           font-size: 33px;
           margin: 33px 62px;
        
           & span{
            color: $background-primary;
           }
           
        }

        &-right{
            position: relative;
          
            height: 50%;
            & img{
            
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
    &__row2{
        display: flex;
        align-items: center;

        &-left,&-right{
         
            height: 300px;
        }

        &-left{
         padding: 14px;
           margin: 0px 67px 33px 0px;
           font-size: 17px;
           font-family:$font-primary;
        }

        &-right{
            position: relative;
          
            & img{
            
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }}

 & .imgfile {
    // margin: 2px 622px;
    margin-top: 18px;
    & img{
width: 90%;
    }
        }
      &  h6{
            // margin: 57px 0;
        position: relative;
        // color: rgb(2, 0, 0);
        font-size: 17px;
        font-family: $font-primary;
        font-weight: 400;
        margin-left: 0 !important;
        padding: 42px;
        }
.lefty{
    // color: blue;
    font-size: 17px;
    // padding: 14px;
    margin: 0px 53px 18px 29px;
        font-family: $font-primary;
    
}
}
@include phone{
    .training__row-left{
        text-align: center;
        font-size: 17px;
    }
   .training__row2-right img{
display: none;
    }
    .training__row2-left{
        text-align: center;
    }
}
